@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Imprima&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: #9abfcc;
    color: #013c3d;
    font-family: Sansita, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #013c3d;
    color: #9abfcc;
    font-family: Clicker Script, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:8px 64px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right {
    display: flex;
}

.logo {
    display: flex;
    flex-shrink: 0;
    width: 50px;
    align-self: center;

}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
  }

a {
    color: #9abfcc;
    text-decoration: none;    
}

.hero {
    background-color: #013c3d;
    color: #9abfcc;
    font-family: Clicker Script, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 50%;
    font-size: 52px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-pic {
    width: 40%;
    height: auto;
}
.hero p {
    font-family: Imprima;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 0 16px;
}